# compiled output
.vscode
/node_modules
/src

# code formatter
.eslintrc
.eslintignore
.editorconfig
.huskyrc
.lintstagedrc.json
.prettierrc

# test
jest.config.js

# docker
.dockerignore
Dockerfile
docker-compose.yml
docker-entrypoint.sh

# Makefile
Makefile

# nginx
nginx.conf

# nodemon
nodemon.json

# typescript
tsconfig.json

# p2m
ecosystem.config.js

# git
.git
.gitignore

# swc
.swcrc

# configuration
.env.development.local
.env.test.local