# compiled output
.vscode
/node_modules
/src

# code formatter
.eslintrc
.eslintignore
.editorconfig
.huskyrc
.lintstagedrc.json
.prettierrc
.gitignore

# test
jest.config.js

# docker
Dockerfile
docker-compose.yml

#
Makefile
nodemon.json
tsconfig.json
package-lock.json